<!--
<div id="id01" class="modal">
  <p *alert="2==2">alert</p>
<form class="modal-content animate" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
  <div class="imgcontainer">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
	  <img src="./assets/images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" [ngClass]="{'has-error':!formGroup.controls['name'].valid && formGroup.controls['name'].touched}"  placeholder="Enter Username" name="uname"  [formControl]="formGroup.controls['name']">
    <div *ngIf="formGroup.controls['name'].hasError('required') && formGroup.controls['name'].touched" class="alert">You must name.</div>
    <label><b>Password</b></label>
    <input type="password" [ngClass]="{'has-error':!formGroup.controls['password'].valid && formGroup.controls['password'].touched}"  placeholder="Enter Password" name="psw"  [formControl]="formGroup.controls['password']">
    <div *ngIf="formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched" class="alert">You must include a password.</div>
    <div *ngIf="formGroup.controls['password'].hasError('minlength') && formGroup.controls['password'].touched" class="alert">Your last name must be at least 5 characters long.</div>
    <div *ngIf="formGroup.controls['password'].hasError('maxlength') && formGroup.controls['password'].touched" class="alert">Your last name cannot exceed 10 characters.</div>
    <button type="submit"  [disabled]="!formGroup.valid">Login</button>
    <input type="checkbox"  [formControl]="formGroup.controls['remember']"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
-->
<app-menu></app-menu>
<router-outlet></router-outlet>
