ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Sofia';font-size: 22px;
    z-index: 1;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    transition: all ease 0.5s;
}
li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;


}
li a:hover::after {
    width: 100%;
}
li a.active-menu::after{
   width: 100%;
}
.colorbar {
    width: 100%;
    position: fixed;
     z-index: 2;
    top:0;
	clear: both;
    margin:0;
	height:5px;
    background-image: -webkit-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -moz-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -ms-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
	background-image: -o-linear-gradient(left,#D52F64,#2FB6D5,#48D52F,#C4D52F,#F8CFB2,#482FD5);
}